<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="Open Liberty server">

  <!--The Liberty Maven Plugin has generated Liberty features necessary for your application in configDropins/overrides/generated-features.xml-->

  <featureManager>
    <feature>jsonb-1.0</feature>
    <feature>ejbLite-3.2</feature>
    <feature>beanValidation-2.0</feature>
    <feature>jsf-2.3</feature>
    <feature>jndi-1.0</feature>
    <feature>cdi-2.0</feature>
    <feature>jdbc-4.2</feature>
    <feature>jms-2.0</feature>
    <feature>jca-1.7</feature>
    <feature>ejbPersistentTimer-3.2</feature>
    <feature>jaxrs-2.1</feature>
    <feature>jaxb-2.2</feature>
    <feature>mdb-3.2</feature>
    <feature>batch-1.0</feature>
    <feature>jpa-2.2</feature>
  </featureManager> 

<!--  
  <logging traceSpecification="*=info:EJBContainer=all:Injection*=all:com.ibm.websphere.jaxrs*=all:com.ibm.ws.jaxrs*=all:logservice*=all:org.apache.cxf.*=all:rarInstall*=all:WAS.j2c*=all:runtime.update*=all:resource*=all"
    traceFileName="trace.log"
    maxFileSize="0"
    maxFiles="0"
    traceFormat="BASIC" 
  />
  -->

  <variable defaultValue="8080" name="default.http.port"/>
  <variable defaultValue="8081" name="default.https.port"/>
  
  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
  <wasJmsEndpoint host="*" id="InboundJmsCommsEndpoint" wasJmsPort="7276" wasJmsSSLPort="9100"/> 
  
  <quickStartSecurity userName="usr" userPassword="pwd"/>

  <authorization-roles id="com.ibm.ws.batch">
    <security-role name="batchAdmin">	
      <special-subject type="EVERYONE"/>	
    </security-role>
  </authorization-roles>
  
  <connectionManager id="CargoCM" maxPoolSize="400" minPoolSize="1"/>
  
  <messagingEngine id="defaultME">
  	<queue forceReliability="ReliablePersistent" id="CargoHandledQueue" maxQueueDepth="5000"/>
	<queue forceReliability="ReliablePersistent" id="MisdirectedCargoQueue" maxQueueDepth="5000"/>
	<queue forceReliability="ReliablePersistent" id="DeliveredCargoQueue" maxQueueDepth="5000"/>
	<queue forceReliability="ReliablePersistent" id="HandlingEventRegistrationAttemptQueue" maxQueueDepth="5000"/>
	<queue forceReliability="ReliablePersistent" id="RejectedRegistrationAttemptsQueue" maxQueueDepth="5000"/>
  </messagingEngine>
  
  <resourceAdapter id="wmq" location="/Users/chanun/Downloads/wmq/JavaEE/wmq.jmsra.rar"/>
  
  <jmsQueueConnectionFactory jndiName="java:app/jms/QueueConnectionFactory" queueManager="QM1">
  </jmsQueueConnectionFactory>
  
  <jmsQueue id="CargoHandledQueue" jndiName="jms/CargoHandledQueue">
    <properties.wmq baseQueueName="CargoHandledQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/CargoHandledConsumer">
    <properties.wmq
    destinationRef="CargoHandledQueue" 
    maxConcurrency="200" 
    destinationType="javax.jms.Queue"
destinationLookup="java:app/jms/CargoHandledQueue"
    queueManager="QM1"
    port="1414"
    useJNDI="true" />
  </jmsActivationSpec>

  <jmsQueue id="MisdirectedCargoQueue" jndiName="jms/MisdirectedCargoQueue">
    <properties.wmq baseQueueName="MisdirectedCargoQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/MisdirectedCargoConsumer">
    <properties.wmq
    destinationRef="MisdirectedCargoQueue" 
    maxConcurrency="200" 
    destinationType="javax.jms.Queue"
destinationLookup="java:app/jms/MisdirectedCargoQueue"
    queueManager="QM1"
    port="1414"
    useJNDI="true" />
  </jmsActivationSpec>

  <jmsQueue id="DeliveredCargoQueue" jndiName="jms/DeliveredCargoQueue">
    <properties.wmq baseQueueName="DeliveredCargoQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/DeliveredCargoConsumer">
    <properties.wmq
    destinationRef="DeliveredCargoQueue" 
    maxConcurrency="200" 
    destinationType="javax.jms.Queue"
destinationLookup="java:app/jms/DeliveredCargoQueue"
    queueManager="QM1"
    port="1414"
    useJNDI="true" />
  </jmsActivationSpec> 

  <jmsQueue id="HandlingEventRegistrationAttemptQueue" jndiName="jms/HandlingEventRegistrationAttemptQueue">
    <properties.wmq baseQueueName="HandlingEventRegistrationAttemptQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/HandlingEventRegistrationAttemptConsumer">
    <properties.wmq
    destinationRef="HandlingEventRegistrationAttemptQueue" 
    maxConcurrency="200" 
    destinationType="javax.jms.Queue"
destinationLookup="java:app/jms/HandlingEventRegistrationAttemptQueue"
    queueManager="QM1"
    port="1414"
    useJNDI="true" />
  </jmsActivationSpec> 

  <jmsQueue id="RejectedRegistrationAttemptsQueue" jndiName="jms/RejectedRegistrationAttemptsQueue">
    <properties.wmq baseQueueName="RejectedRegistrationAttemptsQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/HRejectedRegistrationAttemptsConsumer">
    <properties.wmq
    destinationRef="RejectedRegistrationAttemptsQueue" 
    maxConcurrency="200" 
    destinationType="javax.jms.Queue"
destinationLookup="java:app/jms/RejectedRegistrationAttemptsQueue"
    queueManager="QM1"
    port="1414"
    useJNDI="true" />
  </jmsActivationSpec> 
  
  <jdbcDriver id="dbDriver" libraryRef="dbLib"/>
  
  <library id="dbLib">
  	<fileset dir="${env.HOME}/hsql" includes="hsqldb*.jar"/>
  </library>
  
  <dataSource id="cargoTrackerDataStore" jndiName="jdbc/CargoTrackerDatabase">
    <jdbcDriver libraryRef="dbLib"/>
    <properties URL="jdbc:hsqldb:mem:CargoTrackerDB" password="pwd" user="usr"/>
  </dataSource>
  
  <databaseStore id="EJBPersistentTimerStore" keyGenerationStrategy="SEQUENCE" tablePrefix="WLP2_"/>
  <persistentExecutor enableTaskExecution="true" id="EJBPersistentTimerExecutor" ignore.minimum.for.test.use.only="true" initialPollDelay="-1" retryInterval="300s" retryLimit="-1" taskStoreRef="EJBPersistentTimerStore">
  </persistentExecutor>

  <databaseStore id="ejbTimerDataStore" keyGenerationStrategy="SEQUENCE"/>
  <dataSource id="DefaultDataSource" jdbcDriverRef="dbDriver">
        <properties URL="jdbc:hsqldb:mem:EJBTimerDS" password="pwd" user="usr"/>
  </dataSource>
  
  <ejbContainer>
        <timerService persistentExecutorRef="EJBPersistentTimerExecutor"/>
        <timerService missedPersistentTimerAction="ONCE"/>
  </ejbContainer>

  <webApplication contextRoot="cargo-tracker" location="cargo-tracker.war">
  	<classloader commonLibraryRef="dbLib"/>
  	<web-bnd moduleName="cargo-tracker">
      <env-entry name="java:app/configuration/GraphTraversalUrl" value="http://localhost:8080/cargo-tracker/rest/graph-traversal/shortest-path"/>
  	</web-bnd>
    <application-bnd>
      <security-role name="batchAdmin">
          <special-subject type="EVERYONE"/>
      </security-role>
    </application-bnd>
  </webApplication>

  <keyStore id="defaultKeyStore" password="password"/>
  <applicationMonitor updateTrigger="mbean"/>
  <applicationManager autoExpand="true"/>
  <httpSession cookieName="COOKIE"/>
  <channelfw chainQuiesceTimeout="60s"/>
  
</server>